<div class="row">
	<div class="col l12">	
		<div class="row">			
		  <div class="col s12 l12">
		    <div class="card">
		      <div class="card-image">
		        <img src="/assets/images/bg-cards-3.jpg">
		        <span class="card-title">Import</span>
		      </div>
		      <div class="card-form">
		      	<div class="">
		      		<form action="">
		      			<div class="file-field input-field">
						      <input class="file-path validate" type="text"/>
						      <div class="btn red accent-4">
						        <span>File</span>
						        <input type="file" name="file" onchange="angular.element(this).scope().uploadCSV(this.files)"/>
						      </div>
						    </div>
		      		</form>
		      	</div>
		      </div>
		      <div class="card-content">		      				      
		        <table ng-if="isLoaded" class="table striped bordered">
		        	<thead>
		        		<tr>
		        			<th class="hide">CourseId</th>
			        		<th width="25%">Name</th>		
			        		<th class="hide">Address</th>			        					        		
									<th width="10%">City</th>
									<th width="10%">State</th>
									<th width="10%" class="center">Zip Code</th>
									<th width="15%" class="center">Country</th>					
									<th width="5%"  class="center">Website</th>									
									<th width="10%" class="center">Course Type</th>									
		        		</tr>
		        	</thead>
		        	<tbody>		        		
		        		<tr ng-repeat="task in taskList">
		        			<td class="hide">{{task.CourseId}}</td>		
			        		<td width="25%">{{task.Name}}</td>
									<td class="hide">{{task.Address}}</td>
									<td width="10%">{{task.City}}</td>
									<td width="10%">{{task.State}}</td>									
									<td width="10%" class="center">{{task.Zip_Code}}</td>
									<td width="15%" class="center">{{task.Country}}</td>
									<td width="5%" class="center"><a href="{{task.Website}}"><i class="mdi-hardware-laptop"></i></a></td>
									<td width="10%" class="center">{{task.Course_Type}}</td>
		        		</tr>		
		        	</tbody>
		        </table>
		        <div ng-if="isLoading" >
		        	<span class="center">Loading File</span>
			        <div class="progress">
						    <div class="indeterminate"></div>
						  </div>
		        </div>
					  <div class="card-buttons">
					  	<a ng-if="isLoaded" class="waves-effect waves-light btn red accent-4 white-text" ng-click="importData();">Import Data</a>
					  </div>
		      </div>		      
		    </div>		    
		  </div>		  
		</div>		
	</div>
	<!-- end card -->	
</div>
<!-- end row -->