<div class="row">
	<div class="col l12">
		<div class="row">
		  <div class="col s12 l12">
		    <div class="card">
		      <div class="card-image">
		        <img src="/assets/images/bg-cards-4.jpg" />
		        <span class="card-title">Assigment</span>
		      </div>
		      <div class="card-form">
		      	<div class="grey lighten-4">
		      		<form>
		      			<div class="row" ng-show="hasItems">
		      				<div class="col s12 l5">
		      					<label>Select a team</label>
		      					<select materialize-select ng-model="teamSelect">
									    <option value="" disabled selected>Choose your option</option>
									    <option ng-repeat="team in teamList" value="{{team.objectId}}">{{team.name}}</option>
									  </select>
		      				</div>
		      				<!-- end col -->
		      				<div class="col s12 l4" ng-if="teamSelected">
		      					<label>Choose Mapper</label>
		      					<select materialize-select ng-model="mapper" ng-options="mapper.objectId as mapper.name for mapper in userList" ng-change="selectMapper(mapper)">
									    <option value="" disabled selected>Choose your option</option>
									  </select>
		      				</div>
		      				<!-- end col -->
		      				<div class="col s12 l3" >
		      					<a class="waves-effect waves-light red accent-4 btn" ng-click="assignItems()">Assign Maps</a>
		      				</div>
		      				<!-- end col -->
		      			</div>
		      			<div class="row">
		      				<div class="col s12 l12">
		      					<label>Filter</label>
		      				</div>
		      			</div>
		      		</form>
		      	</div>
		      	<!-- end teal -->
		      </div>
		      <div class="card-content s12">
		      	<table class="table striped bordered responsive-table">
		        	<thead>
		        		<tr>
		        			<th width="10%">
		        				<input type="checkbox" id="chooseAll" check-all/>
    								<label for="chooseAll">All</label>
		        			</th>
			        		<th width="20%">Name</th>
			        		<th class="hide">Address</th>
									<th width="10%">City</th>
									<th width="10%" class="center">State</th>
									<th width="10%" class="center">Zip Code</th>
									<th width="10%" class="center">Country</th>
									<th width="5%"  class="center">Website</th>
									<th width="10%" class="center">Course Type</th>
									<th width="10%" class="center">Status</th>
		        		</tr>
		        	</thead>
		        	<tbody>
		        		<tr ng-repeat="task in dataGrid">
		        			<td width="10%">
		        				<input type="checkbox" class="checkbox" id="{{task.CourseId}}" ng-click="selectItem(task);" />
    								<label for="{{task.CourseId}}">{{task.CourseId}}</label>
    							</td>
			        		<td width="20%">{{task.Name}}</td>
									<td class="hide">{{task.Address}}</td>
									<td width="10%">{{task.City}}</td>
									<td width="10%" class="center">{{task.State}}</td>
									<td width="10%" class="center">{{task.Zip_Code}}</td>
									<td width="10%" class="center">{{task.Country}}</td>
									<td width="5%"  class="center"><a href="{{task.Website}}"><i class="mdi-hardware-laptop"></i></a></td>
									<td width="10%" class="center">{{task.Course_Type}}</td>
									<td width="10%" class="center">{{task.status}}</td>
		        		</tr>
		        	</tbody>
		        </table>
		        <div pagination tabla='classes/Task' ng-page="pageChange(pageNo)"></div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<!-- end card -->
</div>
<!-- end row -->
