<div class="row">
    <div class="col s12 l8">
        <div class="card">
            <div class="card-image">
                <img src="assets/images/bg-cards-2.jpg">
                <span class="card-title">My Info</span>
            </div>
            <div class="card-content">
                <div class="card-form" data-ng-init="init()" >
                    <form>
                        <div class="row">
                            <div class="col s12 l12">
                                <label>Name</label>
                                <input type="text" disabled ng-model="name" />
                            </div>
                            <div class="row">
                                <div class="col s12 l12">
                                    <label>Email</label>
                                    <input type="text" disabled ng-model="email"/>
                                </div>
                                <div class="row">
                                    <div class="col s12 l12">
                                        <label>Team</label>
                                        <input type="text" disabled ng-model="team"/>
                                    </div>
                                    <!-- end col -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end card -->
    </div>

    <div class="col s12 l4">
        <div class="card grey darken-4">
            <div class="card-content white-text">
                <span class="card-title">Change my Password</span>
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <div class="col s12 l12">
                    <label>New Password</label>
                    <input type="password" class="white-text" ng-model="password" ng-minlength="4" />
                </div>
                <div class="col s12 l12">
                    <label>Repeate Password</label>
                    <input type="password" class="white-text" ng-model="passwordRepeat" ng-minlength="4" />
                </div>
                <a href="#" class="btn red accent-4 white-text" ng-click="changePassword()" >Update my password</a>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
