<div class="row">
    <div class="col l12">
        <div class="row">
          <div class="col s12 l12">
            <div class="card">
              <div class="card-image">
                 <span><a style="top: 10px; right: 10px; position:absolute;" class="btn-floating btn-large waves-effect waves-light red right" ng-click="openCreateUserModal(); "><i class="mdi-content-add"></i></a></span>
                <img src="/assets/images/bg-cards-3.jpg" />
                <span class="card-title">User Management</span>
              </div>
              <div class="card-form">
                <div class="teal lighten-5">
                    <form>
                        <div class="row">
                            <div class="col s12 l6">
                                <label>Select a team</label>
                                <select materialize-select ng-model="teamSelect">
                                        <option value="" disabled selected>Choose your option</option>
                                        <option ng-repeat="team in teamList | orderBy: 'name'" value="{{team}}">{{team.name}}</option>
                                      </select>
                            </div>
                            <div class="col s12 l6">
                                <div class="col s12 l3" >
                                    <a class="waves-effect waves-light btn red accent-4" ng-click="assignItems(team)">Assign</a>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <div class="row">
                            <div class="col s12 l12">

                                <label>Filter</label>
                                <input type="text" ng-model="filter" />
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end teal -->
              </div>
              <div class="card-content">                
                  <div class="row">
                    <!-- <div class="col s12">
                      <ul class="tabs grey darken-4">
                        <li class="tab col s1"><a class="white-text" href="#test1">User List</a></li>
                        <li class="tab col s1" ng-repeat="team in teamList | orderBy: 'name'" ng-if="team.usersBelong.length > 0">
                            <a class="white-text" href="#{{team.objectId}}">{{team.name}}</a>
                        <li>
                      </ul>
                    </div> -->
                    <div id="test1" class="col s12">
                        <table class="table striped bordered">
                            <thead>
                                <tr>
                                    <th width="10%">
                                       Select 
                                    </th>
                                    <th width="20%">Name</th>
                                    <th width="20%">Email</th>                                                        
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in userList | filter:filter">
                                    <td width="10%">
                                        <input type="checkbox" id="{{user.objectId}}" ng-click="selectItem(user);" />
                                            <label for="{{user.objectId}}">{{user.objectId}}</label>
                                        </td>
                                    <td width="20%">{{user.name}}</td>
                                    <td width="20%">{{user.email}}</td>                                                        
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="{{team.objectId}}" class="col s12" ng-repeat="team in teamList | orderBy: 'name'" ng-if="team.usersBelong.length > 0">
                        <h4>{{team.name}}</h4>
                        <table class="table striped bordered">
                            <thead>
                                <tr>
                                    <th width="10%">
                                       Select 
                                    </th>
                                    <th width="20%">Name</th>
                                    <th width="20%">Email</th>
                                    <th width="10%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in team.usersBelong">
                                    <td width="10%">
                                        <input type="checkbox" id="{{team.objectId}}-{{user.objectId}}" ng-click="selectItem(user);" />
                                            <label for="{{team.objectId}}-{{user.objectId}}">{{user.objectId}}</label>
                                        </td>
                                    <td width="20%">{{user.name}}</td>
                                    <td width="20%">{{user.email}}</td>    
                                    <td width="10%"><button ng-click="removeFrom(team, user);">Remove</button></td>                                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </div>                
              </div>
              <div ui-view></div>
            </div>
          </div>
        </div>
    </div>
    <!-- end card -->
</div>
<!-- end row -->
