<div class="modalwin row animated bounceInDown fixed" style="z-index: 1000;">
  <div class="col s12 l12">
    <div class="card z-depth-5">
        <div class="card-header grey darken-3 white-text">
            <h4 ng-show="isAddPage">Add new user</h4>
            <h4 ng-show="isEditPage">Edit user: {{user.username}}</h4>
            <a href="javascript:void(0);" ng-click="closeWin()" class="btn-floating btn-large waves-effect waves-light red right"><i class="mdi-navigation-close"></i></a>
        </div>
      <div class="card-content teal lighten-5 black-text">
          <form name="userForm" novalidate>
              <div class="row">
                  <div class="col l6">
                      <h6>Select user type</h6>
                        <input type="radio" name="userType" ng-model="userTypeValue" value="xo58y3iZbF" id="mapper" ng-checked="checkRole('xo58y3iZbF');"/>
                        <label for="mapper">Mapper</label>

                        <input type="radio" name="userType" ng-model="userTypeValue" value="GMGjmesDi8" id="qa" ng-checked="checkRole('GMGjmesDi8');"/>
                        <label for="qa">QA</label>

                        <input type="radio" name="userType" ng-model="userTypeValue" value="1UAyvvij8d" id="admin" ng-checked="checkRole('1UAyvvij8d');"/>
                        <label for="admin">Admin</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col s12 l6">
                      <label>Name</label>
                      <input type="text" ng-model="user.name" name="name" required>

                      <span style="color:red" ng-show="userForm.name.$dirty && userForm.name.$invalid">
                          <span ng-show="userForm.name.$error.required">Name is required.</span>
                      </span>
                  </div>
                  <div class="col s12 l6">
                      <label>Email</label>
                      <input type="email" ng-model="user.email" name="email" required>

                      <span style="color:red" ng-show="userForm.email.$dirty && userForm.email.$invalid">
                          <span ng-show="userForm.email.$error.required">Email is required.</span>
                          <span ng-show="userForm.email.$error.email">Invalid email address.</span>
                      </span>
                  </div>
              </div>
              <div class="row">
                  <div class="col s12 l6">
                      <label>Username</label>
                      <input type="text" ng-model="user.username" name="username" required>

                      <span style="color:red" ng-show="userForm.username.$dirty && userForm.username.$invalid">
                          <span ng-show="userForm.username.$error.required">Username is required.</span>
                      </span>
                  </div>
                  <div class="col s12 l6">
                      <label>Password</label>
                      <input type="password" ng-model="user.password" name="password" required>

                      <span style="color:red" ng-show="userForm.password.$dirty">
                          <span ng-show="userForm.password.$error.required">You must enter a password.</span>
                      </span>

                  </div>
              </div>
              <div class="row">
                  <div class="col s12 l12">
                      <input type="button" class="waves-effect waves-light btn" ng-click="createUser()" ng-disabled="userForm.$error.required" value="Create user" ng-show="isAddPage">
                      <input type="button" class="waves-effect waves-light btn" ng-click="editUser(user)" ng-disabled="userForm.$error.required" value="Edit user" ng-show="isEditPage">

                  </div>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
