/* FONTS */
@font-face {
    font-family: 'ClubHaus';
    src: url('../font/TM-official/clubhaus-regular-webfont.eot');
    src: url('../font/TM-official/clubhaus-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/TM-official/clubhaus-regular-webfont.woff2') format('woff2'),
         url('../font/TM-official/clubhaus-regular-webfont.woff') format('woff'),
         url('../font/TM-official/clubhaus-regular-webfont.ttf') format('truetype'),
         url('../font/TM-official/clubhaus-regular-webfont.svg#ClubHaus') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DIN';
    src: url('../font/TM-official/DINAlternate-Bold.eot');
    src: url('../font/TM-official/DINAlternate-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/TM-official/DINAlternate-Bold.woff2') format('woff2'),
         url('../font/TM-official/DINAlternate-Bold.woff') format('woff'),
         url('../font/TM-official/DINAlternate-Bold.ttf') format('truetype'),
         url('../font/TM-official/DINAlternate-Bold.svg#DIN') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
	Main
*/
body,
html,
#main,
#login-wrapper{
	height: 100%;
}
#login-wrapper{
	padding-top: 80px;
}
/*
	Logo
*/
#logo{
	font-size: 4rem;
	letter-spacing: -.25rem;
	color:#FFF;
	font-weight: 100;
	display: inline-block;
	position: relative;
	top: 30px;
	left: 40px;
}
.login-logo {
	width: 100%;
	max-width: 400px;
}
#login-recover-pass{
	line-height: 36px;
}
/*
	header
*/
#main-header{
	height: 110px;
}
/*
	Sidebar
*/
#sidebar{
	padding: 0px;
}
#sidebar a{
	font-size: 1rem;
	display: block;
	font-family: 'DIN';
	padding: 8px 30px;
	color:#9F9F9F;
}
#sidebar a:hover{
	color:#cb000a;
}
#sidebar i{
	margin-right: 7px;
	font-size: 1.2rem;
	position: relative;
	top: 2px;
}
.mobile-menu {
	background-color: #333;
	color: #fff;
	height: 30px;
	position: relative;
}
.mobile-menu .mobile-trigger {
	position: absolute;
	right: 10px;
	cursor: pointer;
}
.mobile-menu .mobile-trigger i {
	line-height: 30px;
	font-size: 20px !important;
}

@media screen and (max-width: 992px) {
	#sidebar ul {
		position: absolute;
		z-index: 30;
		background-color: #212121;
		display: none;
		width: 100%;
		top: 126px;
	}
}
/*
	Content
*/
#content{
	position: relative;
	top: 10px;
	padding: 0px;
}
/*
	Cards
*/
.card .card-title{
	font-size: 3rem;
	font-weight: 100;
}
@media screen and (max-width: 992px) {
	.card .card-title{
		font-size: 2rem;
		padding: 3px !important;
		font-weight: 100;
	}
}
.card .card-header{
	position: relative;
}
.card .card-header h4{
	padding: 40px;
	margin-bottom: 0px;
	font-family: 'ClubHaus';
}
.card .card-content a {
	color: #cb000a;
}
.card .card-header .btn-floating{
	position: absolute;
	top: 30px;
	right: 30px;
}
.card .card-buttons{
	padding-top: 20px;
}
.card .card-form{
	position: relative;
	top: -7px;
}
.card .card-form form{
	padding: 20px 10px;
}
.card-form .input-field:first-child{
	margin-top: 0px;
}
#btn-action .btn-floating{
	position: absolute;
	top: 50px;
}
.modalwin{
	position: absolute;
	top: 20px;
	width: 100%;
}
.modalwin.fixed{
	position: fixed;
	width: 80%;
}
.card{

}
.btn {
	font-family: 'DIN';
}
.card-title {
	font-family: 'ClubHaus';
}
.second-text {
	position: relative;
	font-family: 'ClubHaus';
	font-size: 30px;
	color: #aaa;
	top: -50px;
	right: 20px;
}

.input-field input[type=text]:focus + label {
	color: #cb000a;
}
.input-field input[type=text]:focus {
	border-bottom: 1px solid #cb000a;
	box-shadow: 0 1px 0 0 #cb000a;
}
.input-field input[type=password]:focus + label {
	color: #cb000a;
}
.input-field input[type=password]:focus {
	border-bottom: 1px solid #cb000a;
	box-shadow: 0 1px 0 0 #cb000a;
}
.input-field textarea:focus + label {
	color: #cb000a !important;
}
.input-field textarea:focus {
	border-bottom: 1px solid #cb000a !important;
	box-shadow: 0 1px 0 0 #cb000a !important;
}
.input-field .prefix.active {
	color: #cb000a;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid #cb000a !important;
	box-shadow: 0 1px 0 0 #cb000a !important;
}

.progress { background-color: #fcc !important; }
.progress .indeterminate {
  background-color: #cb000a !important;
}

input[type=text]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
input[type=url]:focus:not([readonly])+label,
input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label,
input[type=datetime-local]:focus:not([readonly])+label,
input[type=tel]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label,
input[type=search]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
  color: #cb000a;
}
.tabs .indicator{
	background-color: red;
	height: 2px;
}
