<div class="row">
    <div class="col l12">
        <div class="row">
          <div class="col s12 l12">
            <div class="card">
              <div class="card-image">
                 <!--<span><a style="top: 10px; right: 10px; position:absolute;" class="btn-floating btn-large waves-effect waves-light red right" ng-click="openCreateUserModal(); "><i class="mdi-content-add"></i></a></span>-->
                <img src="/assets/images/bg-cards-3.jpg" />
                <span class="card-title">Reports</span>
              </div>
              <div class="card-form">
                <div class="teal lighten-5">
                    <form>
                        <div class="row">
                          <div class="col l12">
                            <h5>Filter data</h5>
                          </div>
                        </div>
                        <div clss="row">
                            <div class="col s12 l4">
                              <input type="radio" name="mapType" ng-model="task.Course_Type"id="all"/>
                              <label for="all">All</label>

                              <input type="radio" name="mapType" ng-model="task.Course_Type" value="public" id="public"/>
                              <label for="public">Public</label>

                              <input type="radio" name="mapType" ng-model="task.Course_Type" value="private" id="private"/>
                              <label for="private">Private</label>
                            </div>
                            <div class="col s12 l4">
                                <input type="date" class="datepicker" placeholder="From date" ng-model="task.createdAt">
                            </div>
                            <div class="col s12 l4">
                                <input type="date" class="datepicker" placeholder="To date" ng-model="task.updatedAt">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 l4">
                                <label>Select a country</label>
                                <select materialize-select ng-model="task.Country">
                                        <option value="" selected>All countries</option>
                                        <option ng-repeat="task in taskList | unique:'Country'" value="{{task.Country}}">{{task.Country}}</option>
                                      </select>
                            </div>
                            <div class="col s12 l4">
                                <label>Select a state</label>
                                <select materialize-select ng-model="task.State">
                                        <option value="" selected>All states</option>
                                        <option ng-repeat="task in taskList | unique:'State'" value="{{task.State}}">{{task.State}}</option>
                                </select>
                                <!--<a class="waves-effect waves-light btn red accent-4" ng-click="assignItems()">Assign</a>-->
                            </div>
                            <div class="col s12 l4">
                                <label>Select a city</label>
                                <select materialize-select ng-model="task.City" >
                                        <option value="" selected>All cities</option>
                                        <option ng-repeat="task in taskList | unique:'City'" value="{{task.City}}">{{task.City}}</option>
                                </select>
                                <!--<a class="waves-effect waves-light btn red accent-4" ng-click="assignItems()">Assign</a>-->
                            </div>
                            <!-- end col -->
                        </div>
                        <div class="row">
                            <div class="input-field col s12 l4">
                              <input type="text" ng-model="task.Name">
                              <label>Name</label>
                            </div>
                            <div class="input-field col s12 l4">
                              <input type="text" ng-model="task.Address">
                              <label>Address</label>
                            </div>
                            <div class="input-field col s12 l4">
                              <input type="text" ng-model="task.Zip_Code">
                              <label>Zíp Code</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 l4">
                              <input type="text" ng-model="task.CourseId">
                              <label>Course Id</label>
                            </div>
                            <div class="col s12 l4">
                              <label>Status</label>
                              <select materialize-select ng-model="task.status">
                                 <option value="" selected>All</option>
                                 <option ng-repeat="task in taskList | unique:'status'">{{task.status}}</option>
                              </select>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col s12 l4">
                            <button type="button" class="btn-large grey darken-4 " ng-csv="filteredTaskList"  csv-header="['CourseId', 'Name', 'Address', 'City', 'State', 'Zip Code', 'Country', 'Type', 'Status']" filename="reporte.csv">Export CSV</button>
                          </div>
                        </div>
                    </form>
                </div>
                <!-- end teal -->
              </div>
              <div class="card-content">
                <table class="table striped bordered">
                    <thead>
                      <tr>
                        <th class="5%">CourseId</th>
                        <th width="25%">Name</th>
                        <th class="25%">Address</th>
                        <th width="10%">City</th>
                        <th width="5%">State</th>
                        <th width="10%" class="center">Zip Code</th>
                        <th width="10%" class="center">Country</th>
                        <th width="5%" class="center">Type</th>
                        <th width="5%" class="center">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="task in taskList | filter:task">
                        <td class="5%">{{task.CourseId}}</td>
                        <td width="25%">{{task.Name}}</td>
                        <td class="25%">{{task.Address}}</td>
                        <td width="10%">{{task.City}}</td>
                        <td width="5%">{{task.State}}</td>
                        <td width="10%" class="center">{{task.Zip_Code}}</td>
                        <td width="10%" class="center">{{task.Country}}</td>
                        <td width="5%" class="center">{{task.Course_Type}}</td>
                        <td width="5%" class="center">{{task.status}}
                          <!--<select class="browser-default" ng-model="task.status" ng-change="confirmStatus(task)">
                            <option value="{{task.status}}" selected>{{task.status}}</option>
                            <option value="{{status.name}}" ng-repeat="status in statusList">{{status.name}}</option>
                          </select>-->
                        </td>
                        <!--<td width="5%" class="center">
                          <a href="#" ui-sref="dashboard.my_tasks.details({task_ID: task.objectId})"><i class="mdi-navigation-more-vert"></i></a>
                        </td>-->
                      </tr>
                    </tbody>
                </table>
                </div>
              </div>
              <div ui-view></div>
            </div>
          </div>
        </div>
    </div>
    <!-- end card -->
</div>
<!-- end row -->
