<div id="login-wrapper" class="grey lighten-5">
    <div class="row">
        <div class="col s12 l6 offset-l3">
            <div class="card">
                <div class="card-content">
                    <div class="center">
                        <img src="assets/images/tm-logo.png" class="login-logo" alt="Taylor Made Logo" />
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="mdi-action-account-circle prefix"></i>
                            <input id="user_name" type="text" ng-model="login.username" />
                            <label for="user_name">User</label>
                        </div>
                        <!-- input field -->

                        <div class="input-field col s12">
                            <i class="mdi-action-lock prefix"></i>
                            <input id="password" type="password" ng-model="login.password" />
                            <label for="password">Password</label>
                        </div>
                        <!-- input field -->
                    </div>
                </div>
                <!-- end card-content -->

                <div class="card-action center grey lighten-3">
                    <div class="row">
                        <div class="col l6 s8">
                            <a href="#" class="black-text" id="login-recover-pass" ng-click="recoverPass()">Forgot Password ?</a>
                        </div>
                        <div class="col l6 s4">
                            <a class="right waves-effect waves-light btn white-text red accent-4" ng-click="loginUser()">Login</a>
                        </div>
                    </div>
                </div>
                <!-- end card-action -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>
<!-- end login -->
