<div id="login-wrapper" class="grey lighten-5">
	<div class="row">
    <div class="col s12 l6 offset-l3">
      <div class="card">
        <div class="card-content">
        	<div class="center">
        		<img src="assets/images/tm-logo.png" alt="Taylor Made" width="400" />
        	</div>
	        <div class="row">
	        	<h5> Password Recovery </h5>
            <div class="input-field col s12">
	        		<i class="mdi-action-account-circle prefix"></i>
		          <input id="email" type="email" ng-model="recoveryEmail" />
		          <label for="email">Email</label>
		        </div>
	        </div>
        </div>
        <!-- end card-content -->
        <div class="card-action center grey lighten-3">
          <div class="row">
						<div class="col s4">
							<a href="#" class="black-text" ng-click = "goBack()">Cancel</a>
						</div>
						<div class="col s8">
	          	<a class="right waves-effect waves-light btn white-text red accent-4" ng-click="resetPass()">Recover</a>
	          </div>
          </div>
        </div>
        <!-- end card-action -->
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->

</div>
<!-- end login -->
