<header id="main-header" class="grey darken-4 white-text">
	<div class="row">
		<div class="col l12"><a id="logo" href="#"><img src="assets/images/taylor-made-logo-white.png" alt="TaylorMade"></a></div>
	</div>
	<div class="right-align second-text">iMap</div>
</header>
<!-- end main-header-->
<div id="main-content" class="row">
	<div id="sidebar" class="col l2 s12" data-ng-init="init()" >
		<div class="mobile-menu hide-on-large-only">
			<div class="mobile-trigger"><i class="mdi-image-dehaze"></i></div>
		</div>
		
		<ul>
			<li><a href="#" ui-sref="dashboard.my_tasks" ng-click="checkMenu()"><i class="mdi-action-home"></i>Home</a></li>
			<li><a href="#" ui-sref="dashboard.my_history" ng-click="checkMenu()"><i class="mdi-action-home"></i>History</a></li>
			<li ng-if="isAdmin" ><a href="#" ui-sref="dashboard.import" ng-click="checkMenu()"><i class="mdi-device-dvr"></i>Import</a></li>
			<li ng-if="isAdmin" ><a href="#" ui-sref="dashboard.users" ng-click="checkMenu()"><i class="mdi-social-group-add"></i>Users</a></li>
			<li ng-if="isAdmin" ><a href="#" ui-sref="dashboard.assign" ng-click="checkMenu()"><i class="mdi-action-exit-to-app"></i>Assign Tasks</a></li>
			<li><a href="#" ui-sref="dashboard.userinfo" ng-click="checkMenu()"><i class="mdi-action-account-box"></i>User Info</a></li>
			<li ng-if="isAdmin" ><a href="#" ui-sref="dashboard.report"><i class="mdi-action-account-box"></i>Reports</a></li>
			<li><a href="#" ng-click="logoutUser()"><i class="mdi-action-settings-power" ></i>Logout</a></li>
		</ul>
	</div>
	<!-- end sidebar -->

	<div id="content" class="col l10 s12" ui-view></div>

</div>
<!-- end main-content -->
