<div class="modalwin row animated bounceInDown fixed">
  <div class="col s12 l12">
    <div class="card z-depth-5">
    	<div class="card-header grey darken-4 white-text">
    		<h4>{{task.Name}}</h4>
    		<a href="javascript:void(0);" ng-click="closeWin()" class="btn-floating btn-large waves-effect waves-light red accent-4 right"><i class="mdi-navigation-close"></i></a>
    	</div>       
      <div class="card-content black-text">
      	<div class="row">
		      	<div class="input-field col s12">
			        <textarea id="textarea1" class="materialize-textarea" ng-model="activity.comment"></textarea>
			        <label for="textarea1">Comment</label>
			      </div>
		      </div>				       
		    <div ng-if="hasComment" class="row">
		    	<button class="right waves-effect waves-light btn white-text red accent-4" ng-click="setStatus(task)">Set Status</button>
		    </div>
      </div>    
    </div>
  </div>
</div>