<div class="modalwin row animated bounceInDown">
  <div class="col s12 l12">
    <div class="card z-depth-5">
      <div class="card-header grey darken-4 white-text">
        <h4>{{Name}}</h4>
        <a href="javascript:void(0);" ng-click="closeWin()" class="btn-floating btn-large waves-effect waves-light red accent-4 right"><i class="mdi-navigation-close"></i></a>
      </div>       
      <div class="card-content">                
        <p>{{Address}}</p>
        <p>{{city}}</p>
        <p>{{country}}</p>
        <p>{{zip}}</p>
        <p>{{typeC}}</p>
        <table class="table striped bordered responsive-table" ng-init = "getComments()">
          <thead>
            <tr>              
              <th width="20%">Name</th>
              <th width="50%">Comment</th>
              <th width="10%" class="center">Date</th>
              <th width="20%" class="center">Status</th>
            </tr>
          </thead>
          <tbody>                  
            <tr ng-repeat="comment in CommentList">                    
              <td width="20%">{{comment.AuthorName}}</td>
              <td width="50%">{{comment.Comment}}</td>
              <td width="10%" class="center">{{comment.createdAt}}</td>
              <td width="20%" class="center">{{comment.Status}}</td>
            </tr>
          </tbody>
        </table>
      </div>    
    </div>
  </div>
</div>
