<div class="row">
	<div class="col s12 l12">	
		<div class="row">			
		  <div class="col s12 l12">
		    <div class="card">
		      <div class="card-image">
		        <img src="/assets/images/bg-cards-2.jpg">
		        <span class="card-title">My Tasks</span>
		      </div>
		      <div class="card-content">
		      	<table class="table striped bordered responsive-table">
		        	<thead>
		        		<tr>
		        			<th class="hide">CourseId</th>
			        		<th width="25%">Name</th>
			        		<th class="hide">Address</th>
									<th width="10%">City</th>
									<th width="10%">State</th>
									<th width="10%" class="center">Zip Code</th>
									<th width="15%" class="center">Country</th>					
									<th width="5%"  class="center">Website</th>									
									<th width="10%" class="center">Course Type</th>									
									<th width="15%" class="center">Status</th>
									<th width="5%"  class="center">Details</th>
		        		</tr>
		        	</thead>
		        	<tbody>
		        		<tr ng-repeat="task in taskList">
		        			<td class="hide">{{task.CourseId}}</td>
			        		<td width="25%">{{task.Name}}</td>
									<td class="hide">{{task.Address}}</td>
									<td width="10%">{{task.City}}</td>
									<td width="10%">{{task.State}}</td>
									<td width="10%" class="center">{{task.Zip_Code}}</td>
									<td width="15%" class="center">{{task.Country}}</td>
									<td width="5%"  class="center"><a href="{{task.Website}}"><i class="mdi-hardware-laptop"></i></a></td>
									<td width="10%" class="center">{{task.Course_Type}}</td>
									<td width="15%" class="center">									
										<select class="browser-default" ng-model="task.status" ng-options = "status.name as status.name for status in statusList" ng-change="confirmStatus(task)">
									  </select>
									</td>
									<td width="5%" class="center">
										<a href="#" ui-sref="dashboard.my_tasks.details({task_ID: task.objectId})"><i class="mdi-navigation-more-vert"></i></a>
									</td>
		        		</tr>
		        	</tbody>
		        </table>
		      </div>
		      <!-- <div class="card-action">
		        <a href="#">This is a link</a>
		        <a href='#'>This is a link</a>
		      </div> -->
		      <div ui-view></div>	
		    </div>		    
		  </div>		  
		</div>		
	</div>
	<!-- end card -->	
</div>
<!-- end row -->